<div class="row mx-1">
    <div class="col-md-12">
        @if (SessionService.IsPageSize)
        {
            <div class="float-start">@await Html.PartialAsync("_PartialFormPage")</div>
        }
        @if (SessionService.IsSearch)
        {
            <div class="float-end">@await Html.PartialAsync("_PartialFormSearch")</div>
        }
    </div>
</div>