<a href="javascript:void(0);" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top"
    title="目前資料已鎖定，鎖定日期: @SessionService.LockDate.ToString("yyyy/MM/dd") 前不能異動!!">
    <i class="fa-solid fa-lock text-danger ms-1"></i>
</a>