@using X.PagedList.Mvc.Core;
@using X.PagedList;


@if (((IPagedList)Model).PageCount > 0)
{
    <div class="float-start page-info me-2">頁數:</div>
    <div class="float-start me-2">
        @if (SessionService.IsMultiMode)
        {
            @Html.PagedListPager((IPagedList)Model, x => Url.Action(ActionService.List,
            ActionService.Controller, new
            {
                area = ActionService.Area,
                id = x
            }))
        }
        else
        {
            @Html.PagedListPager((IPagedList)Model, x => Url.Action(ActionService.MasterPage,
            ActionService.Controller, new
            {
                area = ActionService.Area,
                id = x
            }))
        }

    </div>
    <div class="float-start page-info">
        @ViewBag.PageInfo
    </div>
}